body {
    font-family: 'Poppins', sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(https://imageio.forbes.com/specials-images/dam/imageserve/1128442176/960x0.jpg?format=jpg&width=960);
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://imageio.forbes.com/specials-images/dam/imageserve/1128442176/960x0.jpg?format=jpg&width=960);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
  
.nav-area-li {
    margin-top:2.0vw;
    display: inline-block;
}
  
.nav-area-li a {
    color: rgb(255, 255, 255);
    font-weight:bold ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:none;
    padding: 6px 45px;
    font-size: 20px;
    text-transform: uppercase;
}
  
.nav-area-li a:hover {
    background: rgb(255, 255, 255);
    color: #333;
}  


#box{
    margin-top: 6vh;
    height: 35vw;
    width: 35vw;
    overflow: auto;
  }

.user{
    list-style-type: none;
    height: 5vw;
    width: 19vw;
    margin-bottom: 1vw;
  }
.image{
    width: 5vw;
    height: 5vw;
    float: left;
    img{
      background-color: gray;
      width: 4vw;
      height: 4vw;
      margin: 0.5vw;
    }
  }

.nsm{
  font-size: 2vw;
  font-weight: bold;
  color: #ffffff;
  font-family:serif;
  margin-top:2vw;
}


.text_boxes{
    width: 10vw;
    height: 4vw;
    float: left;
    .user_username{
      font-size: 1.2vw;
      margin-top: 0.3vw;
      margin-bottom: 0.3vw;
      font-weight:bold;
      color: #ffffff;
    }
    .user_email{
      font-size: 1vw;
      margin-top: 0.3vw;
      margin-bottom: 0.3vw;
      font-weight:bold;
      color: #ffffff;
    }
    .user_role{
      font-size: 0.8vw;
      margin-top: 0.3vw;
      margin-bottom: 0.3vw;
      font-weight:bold;
      color: #ffffff;
    }
  }
.buttons{
    width: 3vw;
    height: 1vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
    background-color: white;
    border : 1px solid #d72130;
    font-size: 0.7vw;
    color: #d72130;
    &:hover{
      background-color: #e02232;
      border : none;
      color: white;
      transition: 0.4s;
    }
    &:focus{
      background-color: #c80515;
      border : none;
      color: white;
      transition: 0.4s;
    }
  }

